<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem; height: 100%;">
  <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
    <img src="../../assets/image/Logo1.png" height="70px" width="40px">
    <span class="visually-hidden">Icon-only</span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link  py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
       <img src="../../assets/icons/Vector-1.png" height="24px" width="24px">
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
        <img src="../../assets/icons/gg_profile.png" height="24px" width="24px">
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
        <img src="../../assets/icons/Group 88.png" height="24px" width="24px">
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
        <img src="../../assets/icons/cil_graph.png" height="24px" width="24px">
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
        <img src="../../assets/icons/Vector.png" height="24px" width="24px">
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
        <img src="../../assets/icons/ph_ticket.png" height="24px" width="24px">
      </a>
    </li>
  </ul>
  


</div>




