<div class="container-fluid p-0">
  <div class="row">
    <div class="col-lg-1 ">
<div class="sidebar" class="collapse" id="navbarToggleExternalContent">
  <div class="sidebar-brand">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
      <img src="../../assets/image/Logo1.png" height="60px" width="40px">
      <span class="visually-hidden">Icon-only</span>
    </a>
  </div>
<div class="d-flex flex-column flex-shrink-0 " style="width: 4.5rem; height: 100%;">
  
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link  py-3 " aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
       <img src="../../assets/icons/Vector-1.png" height="24px" width="24px">
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
        <img src="../../assets/icons/gg_profile.png" height="24px" width="24px">
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
        <img src="../../assets/icons/Group 88.png" height="24px" width="24px">
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
        <img src="../../assets/icons/cil_graph.png" height="24px" width="24px">
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
        <img src="../../assets/icons/Vector.png" height="24px" width="24px">
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
        <img src="../../assets/icons/ph_ticket.png" height="24px" width="24px">
      </a>
    </li>
  </ul>
</div>
</div>
</div>

<div class="col-lg-11">
  <nav class="navbar navbar-light bg-light">
    <nav class="navbar py-4 ">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <ul class="mb-2 mb-lg-0 d-flex align-items-center">
      <div class="nav-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" fill="currentColor"
              class="bi bi-bell-fill" viewBox="0 0 16 16">
              <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
          </svg>
        </div>
      <div class="nav-item mx-4">
          <img class="rounded-circle" height="40px" width="40px" alt="50x50" src="../../assets/image/oreo.png"
              data-holder-rendered="true">
      </div>
      </ul>
  </nav>
  
</div>
</div>
 </div>
   