<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
      <h5 class="text-white h4">Navbar dispalyed</h5>
      <span class="text-muted">Navbar</span>
  </div>
</div>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="mb-2 mb-lg-0 d-flex align-items-center">
          <div class="nav-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" fill="currentColor"
                  class="bi bi-bell-fill" viewBox="0 0 16 16">
                  <path
                      d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
              </svg>
            </div>
          <div class="nav-item mx-4">
              <img class="rounded-circle" height="40px" width="40px" alt="50x50" src="../../assets/image/oreo.png"
                  data-holder-rendered="true">
          </div>
          </ul>
  </div>
</nav>