<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-8">
            <div class="auth-bg">
              <div class="bg-overlay"></div>
            </div>
          </div>
        <div class="col-lg-4">
          <div class="auth-content  d-flex align-items-center ">
            
              <div class="row justify-content-center">
                <div class="col-lg-9">
            <div class="text-center">
                <div>
                  <a routerLink="" class="logo-full"><img src="../../assets/image/Logo.png" alt="logo"></a>
                </div>
              </div>
            <div class="p-2 mt-2">
                <form [formGroup]="loginForm">
                  <div *ngIf="error" class="alert alert-danger mb-3 mt-0">{{error}}</div>

                    <div class="form-group auth-form-group mb-4">
                        <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
                        <input type="email" formControlName="email" class="form-control auth-control" id="email"
                          placeholder="Email" [ngClass]="{'is-invalid': form.email.errors}">
                          <div *ngIf="e?.invalid && e?.touched">
                            <div class="text-danger" *ngIf="e?.errors?.required">Email is required</div>
                            <div class="text-danger" *ngIf="e?.errors?.email">Email must be a valid email address</div>
                          </div>
                        </div>
                     

                      <div class="form-group auth-form-group mb-4">
                        <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                        <input type="password" formControlName="password" class="form-control auth-control"
                          id="password" 
                          placeholder="Password" [ngClass]="{ 'is-invalid': form.password.errors }">
                          <div *ngIf=" form.password.errors" class="invalid-feedback">
                            <div *ngIf="form.password.errors.required">Password is required</div>
                          </div>
                      </div>

                      <div class="form-group container-login100-form-btn ">
                        <button class="form-control btn login100-form-btn text-white" type="submit">
                          LOGIN
                        </button>
                      </div>
                    </form>
              </div>
              </div>
              </div>
              
              </div>

        </div>

    </div>
   
</div>