// .auth-form-group  {
//     height: 60px;
//     border-radius: 5px;
//     border: 1px solid #ced4da;
//     display: flex ;
//     align-items: center;
//     justify-content: center;
// }
.form-group .form-control
{
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 15px;
    padding-left: 60px;
    color: #495057;
    
}
.auth-page-icon
{
    color: #495057;
    position: absolute;
    min-width: 40px;
    padding: 15px;
    
}
.login100-form-btn
{
    background-color: rgb(248, 134, 4);
    border-radius: 5px;
}
.container-login100-form-btn .form-control
{
    text-align: center;
    padding:7px;
    margin: 0px;
}
.bg-overlay
{
    background: url("../../assets/image/shop.png") ;
    content: "";
    width: 65%;
    height: 100%;
    top:0;
    left: 0;
    background-size: cover; 
    position:absolute;
    z-index: -1;
    background-repeat: no-repeat;
}
.auth-content
{
    margin-top: 20%;
}
